<h3>Messages with {{contact.name}}</h3>
<div class="col">
{{#each messages}}
  {{#if from}}
  <div class="row">{{content}} (<b>{{status}}</b> to {{contact.name}} via {{channel}}: {{formattedDate}})</div>
  {{else}}
  <div class="row sent">{{content}} (<b>{{status}}</b> to {{contact.name}} via {{channel}}: {{formattedDate}})</div>
  {{/if}}
{{/each}}
</div>
<a class="btn btn-primary" href="/contacts">Back to Contacts</a>
