{{#if contact.screen_name}}
<h3>New Twitter Direct Message to {{contact.screen_name}}</h3>
<form method="POST">
  <div class="form-group">
    <label>Direct Message</label>
    <textarea name="message" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label class="radio-inline">
      <input type="radio" name="channel" value="{{contact.screen_name}}" checked> DM <b>{{contact.screen_name}}</b>
    </label>
  </div>
  <div class="form-group">
    <button class="btn btn-success">Send</button>
  </div>
</form>
{{else}}
<h3>New SMS Message to {{contact.name}}</h3>
<form method="POST">
  <div class="form-group">
    <label>Message</label>
    <textarea name="message" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label class="radio-inline">
      <input type="radio" name="channel" value="sms" checked> SMS
    </label>
  </div>
  <div class="form-group">
    <button class="btn btn-success">Send</button>
  </div>
</form>
{{/if}}
